name: modularapparchitecture_example
description: Example app demonstrating the Modular App Architecture Kit.
publish_to: 'none'

version: 0.1.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  get: ^4.6.6
  firebase_core: ^3.8.1
  firebase_auth: ^5.3.4
  modularapparchitecture:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
